* {
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
}
header {
    font-family: "Montserrat", sans-serif;
    padding-bottom: 100px;
}
#centre {
    margin: 0 auto;
    width: 50%;
}

#centre-text {
    text-align: justify;
}
footer {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #247B7B;
    position: fixed;
    bottom: 0;
    width: 100%;
}


html {
    font-family: "Montserrat", sans-serif;
    background-color: #FFFFFA;
}


ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #0D5C63;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #247B7B;
}

.active {
    background-color: #44A1A0;
}


.container {
    display: flex;
    justify-content: space-between;
}

.logo {
    width:inherit;
    margin: 0 auto;
    display: block;
}

img {
    width: 100%;
    height: auto;
}


.column {
    flex: 1;
}

div {
    margin-bottom: 50px;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #44A1A0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

button:hover {
    background-color: #247B7B;
}

fieldset {
    padding: 14px 20px;
}



form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}
